@import './variables.css';

/* MENUBAR------------------------------------------------------------------- */
#jp-top-panel,
#jp-menu-panel,
.lm-MenuBar {
    background: var(--he-dark1);
}

/* LEFT-MENU----------------------------------------------------------------- */
.lm-Menu {
    border-width: 0px;
}

.lm-Menu-item[data-type='separator'] > div::after {
    border-color: var(--he-grey1);
}

/* DIALOG-BOX---------------------------------------------------------------- */
.jp-Dialog-content,
.jp-Dialog-body {
    background: var(--he-dialog1) !important;
    color: var(--he-cyan1) !important;
}

/* DIALOG-BUTTONS------------------------------------------------------------ */
.jp-mod-styled {
    font-weight: bold !important;
}

.jp-Dialog-button {
    color: var(--he-bg2) !important;
}

.jp-Dialog-button:focus {
    outline: 0px !important;
}

.jp-Dialog-button:hover {
    color: var(--he-dark1) !important;
    background: var(--he-dialog2) !important;
}

.jp-mod-accept {
    background: var(--he-blue2) !important;
}

.jp-mod-reject {
    background: var(--he-light1) !important;
}

.jp-mod-warn {
    background: var(--he-red2) !important;
}

/* MENU-ITEM-SELECTION------------------------------------------------------- */
.lm-mod-active {
    color: var(--he-light2) !important;
    background: var(--he-bg2) !important;
}

/* TOOLBAR-ITEMS------------------------------------------------------------- */
.jp-Toolbar {
    border-width: 0px !important;
}

.jp-ToolbarButtonComponent {
    background: unset !important;
}

.jp-RunningSessions-sectionHeader > button:hover,
.jp-RunningSessions-item:hover,
.jp-ToolbarButtonComponent:hover,
.jp-DirListing-item:hover {
    color: var(--he-light2) !important;
    background: var(--he-dialog1) !important;
}

.jp-DirListing-item {
    color: var(--he-light1) !important;
}

.jp-mod-selected {
    color: var(--he-light2) !important;
    background: var(--he-bg2) !important;
}

/* SEARCH-DIALOG------------------------------------------------------------- */
.jp-ModalCommandPalette {
    background: var(--he-dialog1) !important;
    padding: 0px !important;
}

.lm-CommandPalette-content {
    background: var(--he-dialog1) !important;
}

.lm-CommandPalette-item:hover,
.lm-CommandPalette-item.lm-mod-active {
    color: var(--he-light2) !important;
    background: var(--he-dialog2) !important;
}

.lm-CommandPalette-wrapper:after {
    display: none !important;
}

.lm-CommandPalette-search {
    background: var(--he-dialog1) !important;
}

.lm-CommandPalette-search .lm-CommandPalette-wrapper {
    background: var(--he-dark2) !important;
}

.lm-CommandPalette-input {
    color: var(--he-light2) !important;
}

/* NOTEBOOK-CANVAS----------------------------------------------------------- */
.lm-DockPanel {
    background: var(--he-dark1) !important;
}

/* INDICATORS---------------------------------------------------------------- */
.jp-DirListing-item.jp-mod-running .jp-DirListing-itemIcon:before {
    color: var(--he-green2) !important;
}

/* DROPDOWN------------------------------------------------------------------ */
button.jp-ToolbarButtonComponent .jp-ToolbarButtonComponent-label:hover,
.jp-Notebook-toolbarCellTypeDropdown > select:hover {
    color: var(--he-light2) !important;
    background: var(--he-grey1) !important;
}

/* PLUGIN-MENU--------------------------------------------------------------- */
#setting-editor .jp-PluginList ul {
    background: var(--he-bg1) !important;
}

#setting-editor .jp-PluginList .jp-mod-selected {
    color: var(--he-light2) !important;
    background: var(--he-grey1) !important;
    border-width: 0px !important;
}

#setting-editor .jp-PluginList li:hover {
    color: var(--he-light2) !important;
    background: var(--he-dialog1) !important;
}

/* CELL-EDITOR--------------------------------------------------------------- */
.CodeMirror-gutters,
.CodeMirror-linenumber.CodeMirror-gutter-elt {
    background: var(--he-dark2) !important;
}

